/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'myfont'
}

@font-face{
    font-family: 'myfont';
    src: url('Block Berthold Regular.ttf') format('truetype');
}

main section:nth-of-type(2) p {
    font-family: sans-serif;
    text-align: center;
    line-height: 2em;
    color: gray;
    padding: 0 3em 0 3em;
    ;
    font-weight: 200;
    font-size: 1em;
}

main section:nth-of-type(2) h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
    color: darkslategray;
    margin-bottom: 0;

}

main section:nth-of-type(2) h3 {
    text-align: center;
    margin-top: 2em;
    color: gray;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
}

main section:nth-of-type(5) {
    background-color: #f7f244;
    position: relative;
    padding-bottom: 7em;
    margin: 0;

}

main section:nth-of-type(5) h1 {
    color: #f35737;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding: 4em 1em 2em;
    font-size: 2em;
    line-height: 1em;

}

main section:nth-of-type(5) button {
    background-color: #f35737;
    color: #59f0e4;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    left: 6em;
    position: absolute;
    border: 0;

}



header section:nth-of-type(2) {
    background-color: #222;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    padding: 1px;
    width: 100%;
    margin: 0;
    text-align: center;
    
    
}



header nav ul{
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
    position: relative;
}



header nav img{
    height: 25px;
    text-decoration: none;
}

header nav li:nth-of-type(3){
   position: absolute;
   left: 40%;
    right: 50%;
    top: 0;

}

header nav li:nth-of-type(3) img{
   height: 70px;
    

}



.menu{
    
    padding: 15px;
    position: absolute;
    background-color: white;
    z-index: 10;
    
    transform: translateX(-100%);
    transition: .5s;

}

header section:first-of-type{
   transition: .5s;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 15px;
}




header section:first-of-type img{
    position: absolute;
    height: 22px;
    right: 12px;
    top: 12px;
}

header section:first-of-type p:first-of-type{
    margin-left: -15px;;
    margin-top: -10px;
    text-transform: uppercase;
    color: white;
    background: #333;

    width: 400px;
    padding: 10px;
    padding-right: 00px;
    
        
}

header section:first-of-type p:nth-of-type(2){
    margin-left: 15px;
}
header section:first-of-type h3{
    margin-left: 15px;
}



header section:first-of-type li{
    color: #333;
    font-size: 17px;
    font-family: "TradeGothicLTStd-Bold";
    text-transform: uppercase;
    background: #f6f6f6;
    margin-bottom: 8px;
    text-decoration: none;
    list-style: none;
    left: 0;
    
   
    padding: 12px 1rem;
    
   
    
    

    
    
}

header section:first-of-type ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(1) article:first-child{
    width: 100%;
    position: relative;
    z-index: -2;
    margin: 0;
    padding-bottom: 2em;
    height: 100%;
    
}

main section:nth-of-type(1) img{
    position: absolute;
    max-width: 100%;
    top:-1.5em;
    z-index: -1;
  
    
}
main section:nth-of-type(1) article:first-child h1{
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    top:5.5em;
    font-size: 2em;
    
}

main section:nth-of-type(1) article:first-child button{
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 1em;
    top: 16em;
    left: 8em;
    
    
    
    position: absolute;
   
    
    
    

}

main section:first-child{
    margin-bottom: 20em;
}

main section:nth-of-type(3){
    display: grid;
    grid grid-template-columns: 1fr 1fr 1fr;
    
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-bottom: 6em;
    margin-top: 4em;
    
}

main section:nth-of-type(3) article a {
    position: absolute;
    
    
   
}
main section:nth-of-type(3)  article:nth-of-type(1) img  {
    position: relative;
    width: 400px;
    height: 400px;
    
}

main section:nth-of-type(3) article:nth-of-type(1) h1 {
    position: absolute;
    top: 7em;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}
main section:nth-of-type(3) article:nth-of-type(1) h1 span {
    color: rgb(29, 248, 252);
 
}

main section:nth-of-type(3) article:nth-of-type(1) button {
    position: absolute;
    top: 19em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 18px;
}

main section:nth-of-type(3) article:nth-of-type(2) h1 {
    position: absolute;
    top: 3em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 10;
}


main section:nth-of-type(3) article:nth-of-type(2) button {
    position: absolute;
    top: 8em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 1em;
    z-index: 10;
}

main section:nth-of-type(3) article:nth-of-type(3) h1 {
    position: absolute;
    top: 4em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 10;
}


main section:nth-of-type(3) article:nth-of-type(3) button {
    position: absolute;
    top: 8em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 1em;
    z-index: 10;
}

main section:nth-of-type(3) article:nth-of-type(4) h1 {
    position: absolute;
    top: 7em;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}

main section:nth-of-type(3) article:nth-of-type(4) h1 span {
    color: rgb(29, 248, 252);
 
}

main section:nth-of-type(3) article:nth-of-type(4) button {
    position: absolute;
    top: 19em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 18px;
}

main section:nth-of-type(3) article:nth-of-type(5) h1 {
    position: absolute;
    top: 4em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 10;
}


main section:nth-of-type(3) article:nth-of-type(5) button {
    position: absolute;
    top: 8em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 18px;;
    z-index: 10;
}

main section:nth-of-type(3) article:nth-of-type(6) h1 {
    position: absolute;
    top: 4em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 16px 24px rgba(0, 0, 0, .25);
    left: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 10;
}


main section:nth-of-type(3) article:nth-of-type(6) button {
    position: absolute;
    top: 8em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #f35737;
    display: inline-block;
    padding: 8px 12px;
    left: 1em;
    z-index: 10;
}



main section:nth-of-type(4) img:last-of-type {
    display: block;
}


main section:nth-of-type(3) article:nth-of-type(1){
    grid-column: span 2;
    grid-row-start: 1;
    grid-row: span 2;
    height: 400px;
    
    
}

main section:nth-of-type(3) article:nth-of-type(2){
    grid-row-start: 3;
    grid-column: span 1;
    height: 200px;
    
}

main section:nth-of-type(3) article:nth-of-type(3){
    grid-row-start: 3;
    grid-column-start: 2;
    height: 200px;
    
    
}

main section:nth-of-type(3) article:nth-of-type(4){
   grid-column-start: 1;
    grid-column: span 2;
    grid-row: 4;
    height: 400px;
   
    
    
    
}

main section:nth-of-type(3) article:nth-of-type(5){
    grid-row-start: 6;
    grid-column: span 1;
    height: 200px;
}

main section:nth-of-type(3) article:nth-of-type(6){
    grid-row-start: 6;
    grid-column: span 1;
    grid-column-start: 2;
    height: 200px;
}




main section:nth-of-type(3)  article:nth-of-type(2) img  {
    position: relative;
    max-width: 200px;
}


main section:nth-of-type(3)  article:nth-of-type(3) img  {
    position: relative;
    max-width: 200px;
    
}


main section:nth-of-type(3)  article:nth-of-type(4) img  {
    position: relative;
    max-width: 400px;
    
   
}


main section:nth-of-type(3)  article:nth-of-type(5) img  {
    position: relative;
    max-width: 200px;
    
}

main section:nth-of-type(3)  article:nth-of-type(6) img  {
    position: relative;
    max-width: 200px;
    
}





main section:nth-of-type(4) h3 {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #4a545b;
    text-align: center;
}

main section:nth-of-type(4) h1{
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(23, 211, 177);
}

main section:nth-of-type(4) span button{
    background: #fff;
    color: #333;
    border: 2px solid #333;
    cursor: pointer;
    
    text-transform: uppercase;
 
    font-size: 18px;
    
    
    text-align: center;
    padding: 6px 12px;
    margin-left:  5px 
    
    
    
}

main section:nth-of-type(4) article button{
    position: absolute;
    top: 12em;
    
}
main section:nth-of-type(4) article button:first-of-type{
    
    left: -2em;
    
}
main section:nth-of-type(4) article button:last-of-type{
    
    right: -2em;
    
    
}


main section:nth-of-type(4) span:first-of-type{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5em;
    margin-top: 2em;
}

main section:nth-of-type(4) span button:nth-of-type(2){
    color: #fff;
    background: #333;
    
}



main section:nth-of-type(4){
    margin-top: 7em;
}



main section:nth-of-type(4) article img{
    max-width: 320px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

main section:nth-of-type(4) article {
    
    position: relative;
    margin:  40px 40px 0 40px ;
    
    

}

main section:nth-of-type(4) article p {
    font-weight: 100;
}






main section:nth-of-type(4) article h4:first-of-type {
    background-color: #e52427;
    color: white;
    position: absolute;
    top: 0;
    left: .5em;
    padding: 4px 8px;
    font-size: 18px;
}

main section:nth-of-type(4) img{
    max-width: 370px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4em;
    
    
}


main section:nth-of-type(4) article button{
    background-color: transparent;
    border: none;
    color: darkgray
}

footer {
    background-color: #333;
    border: none;
    position: relative;
    color: white;
    padding: 20px;
    line-height: 1.5;
    
}

footer li{
    padding: 10px 0px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    
        
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
footer h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

footer span {
    color: #F35737;
}

footer p{

    padding-top: 4px;
    
}

footer button {
   
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: "TradeGothicLTStd-Bold";
    font-size: 18px;
    padding: 2px 12px;
    line-height: 34px;
    margin-bottom: 20px;
    
}

footer img{ 
    max-height: 40px;
}

footer section:nth-of-type(4) ul{
   justify-content: flex-start;
    display: flex;
    
    
}

footer section:nth-of-type(4) ul li{ 
    margin: 0 15px 0 0;
}

.vragen{
    display: none;
}

.klant{
    display: none;
}

.geenreef{
    display: none;
}



    

}


